# C3/C6 crypto-tls fixtures and their NOTICE/runtime licence texts are public (examples/crypto-tls).
# Firmware for local wasm demos is not committed — except the public demos below, whose code is
# ours (hello_world from ESP-IDF for the S3, C3 and C6, the Touch-LCD-4B panel built with
# placeholder secrets, and the Atech Pocket Synth) and the manifests that describe them; public/ also
# holds pocket-tank's bootloader, partition table and app (MIT, with its LICENSE), whose model is fetched,
# and the WiFi station built for the S3, C3 and C6 (the WiFi goldens' input, with its NOTICE).
# The C3 BLE advertiser inputs c3-ble-* and c3-ble-NOTICE.txt are also public (examples/c3-ble-advertiser).
# The mask ROM ELF (Apache-2.0, espressif/esp-rom-elfs) and the Linux-on-esp32-S3 image (GPL-3.0,
# svermigo/Linux-on-esp32-S3, pinned by commit and SHA-256) are fetched by the Pages workflow.
*
!.gitignore
!README.md
!demos.json
!hello.json
!c3-hello.json
!c6-hello.json
!c6-energy-scan.json
!c6-contiki.json
!c6-contiki-net.json
!c6-rpl-net.json
!linux.json
!linux-login.json
!linux-login.txt
!linux-term.json
!linux-term.txt
!panel.json
!pocket-tank.json
!panel-sid.json
!atech.json
!atech-sid.json
!public/
!public/*
